Repository RetroShare/RetroShare, pull requests merged in 2020-11, with the labels that each got.

#2094 Fix compilation with libupnp 1.14.0
  libretroshare/src/rs_upnp/UPnPBase.cpp
Labels: 0.6.6 blocker

#2106 [WIP] Continue fixing 0.6.6 bugs
  libretroshare/src/pqi/p3netmgr.cc
  libretroshare/src/pqi/p3peermgr.cc
  libretroshare/src/retroshare/rsevents.h
  libretroshare/src/retroshare/rspeers.h
  libretroshare/src/rsserver/p3peers.cc
  libretroshare/src/rsserver/p3peers.h
  libretroshare/src/services/p3gxscircles.cc
  retroshare-gui/src/gui/FileTransfer/TransfersDialog.cpp
  retroshare-gui/src/gui/FileTransfer/TransfersDialog.h
  retroshare-gui/src/gui/GetStartedDialog.cpp
  retroshare-gui/src/gui/HomePage.cpp
  retroshare-gui/src/gui/HomePage.h
  retroshare-gui/src/gui/HomePage.ui
  retroshare-gui/src/gui/Identity/IdDialog.cpp
  retroshare-gui/src/gui/RetroShareLink.cpp
  retroshare-gui/src/gui/common/NewFriendList.cpp
  retroshare-gui/src/gui/common/NewFriendList.h
  retroshare-gui/src/gui/connect/ConfCertDialog.cpp
  retroshare-gui/src/gui/connect/ConnectFriendWizard.cpp
  retroshare-gui/src/gui/connect/ConnectFriendWizard.ui
  retroshare-gui/src/gui/gxschannels/GxsChannelPostsModel.cpp
  retroshare-gui/src/gui/msgs/MessageComposer.cpp
  retroshare-gui/src/gui/msgs/MessageComposer.h
  retroshare-gui/src/gui/msgs/MessageComposer.ui
  retroshare-gui/src/gui/msgs/MessagesDialog.cpp
  retroshare-gui/src/gui/msgs/MessagesDialog.h
  retroshare-gui/src/gui/profile/ProfileWidget.cpp
  retroshare-gui/src/gui/settings/CryptoPage.cpp
  retroshare-gui/src/gui/settings/CryptoPage.h
  retroshare-gui/src/gui/settings/CryptoPage.ui
  retroshare-gui/src/gui/statusbar/hashingstatus.cpp
  retroshare-gui/src/gui/statusbar/hashingstatus.h
Labels: 0.6.7

#2116 Fix JSON API compilation
  libretroshare/src/retroshare/rspeers.h
Labels: elrepo.io

#2118 [Boards] Fixing issue with Search Field on Boards to get visible the ID
  retroshare-gui/src/gui/Posted/PostedListWidgetWithModel.ui
Labels: gui

#2119 [News Feeds] Hide the Subscribe Button on the Channel Post & Forum MSG Feeds
  retroshare-gui/src/gui/feeds/GxsChannelPostItem.cpp
  retroshare-gui/src/gui/feeds/GxsChannelPostItem.ui
  retroshare-gui/src/gui/feeds/GxsCircleItem.cpp
  retroshare-gui/src/gui/feeds/GxsCircleItem.ui
  retroshare-gui/src/gui/feeds/GxsForumMsgItem.cpp
  retroshare-gui/src/gui/qss/stylesheet/Standard.qss
Labels: gui

#2114 [Boards] Added back to display comments counts on the comments button
  retroshare-gui/src/gui/Posted/BoardPostDisplayWidget.cpp
Labels: gui

#2117 [Channels] Improved the Channel Composer & small fixes
  retroshare-gui/src/gui/gxschannels/CreateGxsChannelMsg.cpp
  retroshare-gui/src/gui/gxschannels/CreateGxsChannelMsg.h
  retroshare-gui/src/gui/gxschannels/CreateGxsChannelMsg.ui
Labels: gui

#2121 Moved the Tunnel status Label to the Top [Distant Chat]
  retroshare-gui/src/gui/chat/ChatWidget.cpp
  retroshare-gui/src/gui/chat/ChatWidget.h
  retroshare-gui/src/gui/chat/ChatWidget.ui
  retroshare-gui/src/gui/chat/PopupDistantChatDialog.cpp
Labels: gui
